#home {
    height: 75vh;
    padding-bottom: 4rem;
}

#about {
    padding-top: 5rem;
    height: auto;
}

#about, #services {
    h2 {
        padding-bottom: 1.5rem;
    }
}

#services, #portfolio, #contact {
    padding-top: 5rem;
}