.img {
    &__svg {
        width: 50%;
        aspect-ratio: 1 / 1;
    }

    &__thumbnail--portfolio {
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }

    &__project {
        max-width: 95vw;
    }

    @media (min-width: 720px) {
        &__project {
            max-width: 40vw;
        }
    }
}