@use "../utilities/_colors.scss";

.button {
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    text-align: center;

    &__about {
        margin-top: 1.75rem;
        width: 50vw;
    }

    &__download {
        margin-top: 2rem;
        width: 50vw;
        background: colors.$gray;
        color: colors.$white;
    }

    &__more {
        width: 40vw;
    }

    &__agree {
        width: 50vw;
    }

    &__return {
        width: 55vw;
        background: colors.$gray;
        color: colors.$white;
    }

    &:where(:focus, :hover) {
        filter: saturate(150%);
    }

    @media (min-width: 45em) {

        &__about {
            width: 20vw;
        }

        &__download, &__agree {
            width: 25vw;
        }

        &__more {
            width: 15vw;
        }

        &__return {
            width: 10vw;
        }
    }
}