@use "../utilities/_colors.scss";
@use "../utilities/_icons.scss";

:root {
    --color-mode: "light"; 

    --dark-blue: #{colors.$dark-blue};
    --white: #{colors.$white};
    --darker-white: #{colors.$darker-white};
    --gray: #{colors.$gray};
    --orange: #{colors.$orange};
    --deep-orange: #{colors.$deep-orange};
    --darker-orange: #{colors.$darker-orange};
    --light-orange: #{colors.$light-orange};
    --deep-red: #{colors.$deep-red};
    --green: #{colors.$green};
    --red: #{colors.$red};

    --background: var(--white);
    --text: var(--dark-blue);
    --header: var(--darker-white);
    --hamburger: var(--white);
    --nav-toggle: var(--gray);
    --nav-toggle-text: var(--white);
    --menu-text: var(--gray);
    --link: var(--deep-red);
    --button: var(--deep-red);
    --button-text: var(--white);
    --accent: var(--deep-red);
    --focus: var(--dark-blue);
    --selection: var(--dark-blue);
    --selection-text: var(--white);
    --icon-fill: var(--dark-blue);
    --top: var(--darker-white);
    --consent: var(--darker-white);
    --consent-button: var(--green);
    --consent-button__text: var(--white);

    --switch-icon: #{icons.$icon-moon};
    --switch-icon-filter: #{icons.$icon-moon-filter};

    :focus {
        outline: var(--focus) solid 1px;
    }
}

::selection {
    background: var(--selection);
    color: var(--selection-text);
}

body {
    background: var(--background);
    color: var(--text);
}

header {
    background: var(--header);
}

.hamburger, .hamburger::before, .hamburger::after {
        background: var(--hamburger);
}

.nav-toggle {
    background: var(--nav-toggle);
    color: var(--nav-toggle-text);
}

.nav__link {
    color: var(--menu-text);
}

.link__external, .link__internal {
    color: var(--link);
}

.color__accent {
    color: var(--accent);
}

.button__about, .button__more {
    background: var(--button);
    color: var(--button-text);
}

.icon__fill--contact, .icon__fill--project, .icon__fill--top {
    fill: var(--icon-fill);
}

.top {
    background: var(--top);
}

.consent {
    background: var(--consent);
}

.button__agree {
    background: var(--consent-button);
    color: var(--consent-button__text);
}