h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p, span {
    font-family: 'Open Sans' ,sans-serif;
}

strong {
    font-weight: 600;
}

#home, #about, #blog, #contact, #blog {
    h2 {
        font-weight: 600;
    }
}

.site {
    &__name {
        font-weight: 600;
    }

    &__title {
        font-size: 1.5rem;

        &--heading {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

.post__title {
    text-align: center;
    padding: 0 1rem;
}

.nav__item {
    font-weight: 500;
}

.text__muted {
    font-size: 0.8rem;
    font-weight: 400;
}

.section__title {
    max-width: 75vh;
}

.project__item--title {
    font-size: 0.9rem;
}

a {
    &:where(:focus, :hover) {
        filter: brightness(80%);
    }/* 
    &:hover {
        filter: brightness(80%);
    } */
}

.copyright__text, .gdpr__links {
    text-align: center;

    @media (max-width: 45em) {
        margin-top: 1rem;
    }
}
