<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <!--Open Graph & Twitter Card-->
    {% include home/open.html %}
    <link rel="stylesheet" href="/css/master.css">
    <link rel="shortcut icon" href="/favicon/icon.svg" type="image/svg+xml">
    <!--Fonts Preload-->
    {% include defaults/fonts.html %}
</head>
<body>
    <header>
        <div class="container row">
            <button class="nav-toggle" aria-label="open navigation">
                <span class="hamburger"></span>
            </button>
            <div class="site__name">
                <span class="site__title">Marko</span> <span class="site__title color__accent">Idžan</span>
            </div>
            {% include home/navigation.html %}
        </div>
    </header>
    <main>
        {{ content }}
    </main>
    
    {% include defaults/top.html %}
    {% include defaults/footer.html %}
    {% include defaults/js.html %}
    
</body>
</html>